Repository ImpressCMS/impresscms, pull requests merged in 2023-01, with the labels that each got.

#1364 Upgrade impresscms/codemirror integration to 0.2.3
  composer.json
  composer.lock
Labels: composer, dependencies

#1365 Added Bootconfig
  core/Data/BootConfig.php
  core/Exceptions/PublicPathResolveException.php
  core/Exceptions/UnableToCreateInstanceException.php
  core/Facades/Config.php
  core/Facades/Member.php
  include/constants.php
  libraries/icms.php
  tests/core/Data/BootConfigTest.php
  tests/core/MainfileTest.php
Labels: enhancement

#1370 Upgrade impresscms/system-module, impresscms/itheme-theme & impresscms/core-theme to latest
  composer.lock
Labels: composer, dependencies

#1369 Upgrade middlewares/firewall into 2.0.3
  composer.json
  composer.lock
Labels: bug, composer, dependencies

#1367 Upgrade middlewares/aura session to 2.x
  composer.json
  composer.lock
Labels: composer, dependencies

#1366 Upgrade aura/sql to 4.0
  composer.json
  composer.lock
  core/Database/DatabaseConnection.php
  core/Database/DatabaseConnectionInterface.php
Labels: composer, dependencies

#1378 Upgraded cerdic/css-tidy to 2.0.3
  composer.json
  composer.lock
Labels: composer, dependencies

#1379 Upgrade vlucas/phpdotenv to 5.5.0
  composer.json
  composer.lock
  core/Data/BootConfig.php
  htdocs/install/common.inc.php
Labels: composer, dependencies

#1380 Fix XSS via DB_CHARSET parameter (H1 #1825770)
  htdocs/install/page_dbsettings.php
Labels: bug

#1381 Fix XSS via DB_CHARSET parameter (H1 #1825770)
  htdocs/install/page_dbsettings.php
Labels: bug

#1387 Fix XSS H1 #1832690
  htdocs/install/page_dbsettings.php
Labels: bug

#1388 Fixed #1345 - 'undefined constant in PHP 8 on install/page_tablesfill.php page'
  htdocs/install/makedata.php
Labels: bug

#1389 Fixed bug when saving system preference
  htdocs/modules/system/admin/preferences/main.php
Labels: bug

#1390 Fixed #1090 - user creating and editing
  htdocs/libraries/icms/member/user/Handler.php
Labels: bug
