Repository ImpressCMS/impresscms, pull requests merged in 2023-09, with the labels that each got.

#1507 Updates to DataFilter - string filters for PHP8 and signature filtering
  htdocs/edituser.php
  htdocs/libraries/icms/core/DataFilter.php
  htdocs/userinfo.php
Labels: php 8

#1509 Remove all references to banners
  htdocs/install/language/english/mysql.lang.data.sql
  htdocs/install/language/italiano/mysql.lang.data.sql
  htdocs/install/language/nederlands/mysql.lang.data.sql
  htdocs/install/modulesadmin.php
  htdocs/install/sql/mysql.structure.sql
  htdocs/language/nederlands/mysql.lang.data.sql
  htdocs/modules/system/admin/modulesadmin/modulesadmin.php
  htdocs/modules/system/include/update-112-to-122.php
  htdocs/modules/system/include/update-13.php
  htdocs/modules/system/language/english/admin.php
  htdocs/modules/system/language/english/admin/banners.php
  htdocs/modules/system/language/english/admin/preferences.php
  htdocs/modules/system/language/english/modinfo.php
  htdocs/modules/system/language/francais/admin.php
  htdocs/modules/system/language/francais/admin/preferences.php
  htdocs/modules/system/language/francais/modinfo.php
  htdocs/modules/system/language/italiano/admin.php
  htdocs/modules/system/language/italiano/admin/preferences.php
  htdocs/modules/system/language/italiano/modinfo.php
  htdocs/modules/system/language/nederlands/admin.php
  htdocs/modules/system/language/nederlands/admin/preferences.php
  htdocs/modules/system/language/nederlands/modinfo.php
  htdocs/modules/system/language/schinese/admin.php
  htdocs/modules/system/language/schinese/modinfo.php
Labels: cleanup

#1510 bool to countable in module object
  htdocs/libraries/icms/module/Object.php
Labels: PHP 8.1
